#text{
    font-size: 5rem;
}

#quote-text {
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

#text-quote{
    font-size: 3rem;
    text-align: center;
}