<header>


  <!-- Background image -->
  <div class="container text-center bg-image" style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 50rem
    ">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <br><br><br>
          <h1 id="text" class="mb-3">good</h1>
          <h4 id="text" class="mb-3">QUOTES</h4>

          <br><br>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">Learn More</a>

        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>



<div class="container-fluid">
  <br>
  <h4>Quotes</h4>
  <div class="container">

    <div id="quote-text" *ngFor='let quote of quote ; let i=index'>

      <ul>
        <ol>
          {{quote.name}}
          <app-like></app-like>
        </ol>
      </ul>
      <button (click)="toggleDetails(i)"> More Info. </button>

      <app-quote-detail *ngIf= 'quote.showDescription' [quote]= 'quote' (isComplete)= 'completeQuote($event,i)'>
      </app-quote-detail>
      <p *ngif="quote.length>10"> Your quotes are too long!</p>

    </div>
    <br>
  </div>

  <div class="container">
    <app-quote-form></app-quote-form>

  </div>

  
</div>
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <br>
  <!-- Copyright -->
  <div class="text-center text-light p-3" style="background-color: rgb(19, 4, 4);">
    © 2020 Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
