<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
      
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 400px;
    "
  >
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">good</h1>
          <h4 class="mb-3">QUOTES</h4>

          <br><br>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Learn More</a>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>



<div class="container-fluid">
  <br>
  <h4>Quotes</h4>
  <div class="container">

    <div *ngFor='let quote of quote ; let i=index'>

      <ul>
        <ol>
          {{quote.name}}
          <app-like></app-like>
        </ol>

        <button (click)="toggleDetails(i)"> More Info. </button>

        <app-quote-detail *ngIf= 'quote.showDescription' [quote]= 'quote' (isComplete)= 'completeQuote($event,i)'>
        </app-quote-detail>
        


        <p *ngif="quote.length>10"> Your quotes are too long!</p>
      </ul>
    </div>
  </div>
  <div class="">
    <app-quote-form></app-quote-form>

  </div>
</div>
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
 <br>
  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>